<!-- header-section-starts -->
	<div class="header">
		<div class="header-top-strip">
			<div class="container">
				<div class="header-top-left">
					<ul>
						<% if !user_signed_in? %>
						<li><%= link_to "Login", new_user_session_path %><span class="glyphicon glyphicon-user"> </span></li>
						<% else %>
						<li><%= link_to "Logout", destroy_user_session_path %><span class="glyphicon glyphicon-user"> </span></li>
						<% end %>
						<li><%= link_to "Register", new_user_registration_path %> <span class="glyphicon glyphicon-lock"> </span></li>			
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- header-section-ends -->
			<div class="banner-top">
		<div class="container">
				<nav class="navbar navbar-default" role="navigation">
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
	        </button>
				<div class="logo">
					<h1><%= link_to "LostNFound", root_path %></h1>
				</div>
	    </div>
	    <!--/.navbar-header-->
	
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	        <ul class="nav navbar-nav">
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "About", pages_about_path %></li>
			<li><%= link_to "contact", pages_contact_path %></li>
	        </ul>
	    </div>
	    <!--/.navbar-collapse-->
	</nav>
	<!--/.navbar-->
</div>
</div>